.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* O el color de fondo de tu header */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Opcional: para agregar una sombra */
}

/* Asegúrate de que el contenido debajo del header no quede oculto */


.header .inicio {
    background-color: #f6f6f6;
    justify-content: center;
    width: 100%;
    height: 104PX;
  }

  .header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
  }
  
  .header-hover {
    position: relative;
    z-index: 999;
  }

  
  .navbar .nav-link:hover ~ .header-overlay {
    display: block;
  }
  
  .inicio .div {
    background-color: #f6f6f6;
    overflow: hidden;
    width: 100%;
    height: 1701px;
    position: relative;
  } 
  
  .inicio .frame {
    background-color: #f6f6f6;
    overflow: hidden;
    width: 100%;
    position: relative;
  }  

  .inicio .frame-13 {
    position: fixed;
    z-index: 2000; /* Asegúrate de que el z-index sea lo suficientemente alto */
    width: 100%;
    height: 68px;
    top: 0;
    left: 0;
  }

  .inicio .frame-31
  {
    z-index: 1000; /* Asegúrate de que el z-index sea lo suficientemente alto */
    position: fixed;
    width: 100%;
    height: 55px;
    top:65px;
    background-color: #0E3B3E;
  }

  .inicio .navbar{
    position: fixed;
    /*top: 122px;*/
    left: 100px;
    margin:0;
    padding: 0;
  }

  .inicio .group-3 {
    position: absolute;
    width: 195px;
    height: 36px;
    top: 14px;
    left: 50px;
  }
  
  .inicio .text-wrapper-8 {
    position: absolute;
    height: 23px;
    top: 8px;
    left: 83px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .inicio .vector {
    position: absolute;
    width: 66px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .inicio .chevron-down {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    left: 104px;
  }
  
  .inicio .text-wrapper-15 {
    left: 220px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }
  .inicio .text-wrapper-16 {
    left: 327px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }
  
  .inicio .text-wrapper-17 {
    left: 434px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }
  
  .inicio .text-wrapper-18 {
    left: 547px;
    position: absolute;
    height: 55px;
    top:0px;
    width: 80px;
    font-family: "Actor", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3B3E;
    border-radius: 20px 20px 0 0; 
  }

  
  .inicio .frame-24 {
    position: absolute;
    width: 120px;
    height: 44px;
    top: 12px;
    left: 1300px;
  }
  
  .inicio .user {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 0;
  }
  
  .inicio .frame-25 {

    align-items: center;
    justify-content: center;
    gap: 2px;
    position: absolute;
    top: 0;
    left: 96px;
  }
  

  .inicio .cerrar {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 0;
  }
  
  /* Estilos para el desplegable */
.pago-desplegable {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Ancho deseado del desplegable */
  height: 100%; /* Altura necesaria */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1100; /* Asegúrate de que esté por encima del header */
  transform: translateX(100%);
  transition: transform 0.3s ease-out; /* Animación de transición */
}

/* Estilos cuando el desplegable está visible */
.pago-desplegable.visible {
  transform: translateX(0);
}

  
  